<% include partials/header %>

<h1>This is the home page</h1>

<img src="http://1.bp.blogspot.com/-rhLv8cGX8vU/T6LHkB1BbaI/AAAAAAAAAKQ/ydMI4KbXQWM/s1600/cute-puppy-puppies-13789224-1024-768.jpg" alt="">

<% include partials/footer %>